PORT=3001
APP_URL=http://localhost:3001
JWT_SECRET=streambot_jwt_super_secret_key_2026

# Twitch Developer Credentials (obtener en https://dev.twitch.tv/console/apps)
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:3001/api/auth/twitch/callback

# Kick Developer Credentials (obtener en https://dev.kick.com)
KICK_CLIENT_ID=
KICK_CLIENT_SECRET=
KICK_REDIRECT_URI=http://localhost:3001/api/auth/kick/callback
